body
{
   background-color:hsla(120,100%,25%,0.3);
}

h1
{
   text-align:center;
}

.links
{
   float:left;
   background-color:hsl(120, 100%, 25%);
   padding-left:15px;
   padding-right:15px;
   margin-left:200px;
}

.links a:hover
{
   background-color:white;
}

.main
{

}